/*
========================
GOBAL CSS START
========================
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');







/* site header start hare  */

.site-header {
    background: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-right: 20px;
    gap: 20px;
}

.desktop-navbar ul {
    display: flex;
    align-items: center;
    gap: 45px;
}

.desktop-navbar ul li a {
    display: block;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}

.desktop-navbar ul li a:hover {
    color: #FF5266;
}

.admin-profile a {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 3px 10px;
    background: #fff;
    color: #353740;
    border-radius: 1px;
}

.admin-profile a:hover {
    background: var(--hover-color-2);
    color: #fff;
}

.admin-profile a:hover svg circle {
    stroke: #fff;
}

.nav-toggle-button button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
}

.navbar-nav .nav-link:hover {
    color: var(--hover-color-2);
}

.offcanvas-title a img {
    max-width: 40px;
}

.nav-link {
    border-bottom: 1px solid #fff;
}

/*============ header style end hare ======== */

/*===== dashboard main style start hare ======= */

.dashboard-main {
    display: flex;
    background: #EFF0F0;
}



/* main content area style  */

.main-content-area {
    flex: 1;
}

.content-top-nav {
    padding: 5px 10px;
    background: #FFFFFF;
    border-bottom: 1px solid #E8E8E9;
}

.content-top-nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

.content-top-nav ul a {
    display: block;
    padding: 5px;
    position: relative;
    font-size: 13px;
}

.content-top-nav ul a::before {
    content: '';
    clear: both;
    display: block;
    width: 0%;
    height: 2px;
    background: var(--blue-color);
    position: absolute;
    left: 0;
    top: 110%;
    transition: 0.3s;
}

.content-top-nav ul a.active::before,
.content-top-nav ul a:hover::before {
    width: 100%;
}

.main-content-wrapper {
    padding: 7px 10px;
}

.product-top-box button {
    background: transparent;
    border: none;
    color: var(--blue-color);
}

.product-top-box label {
    font-size: 13px;
    color: #1b2022;
}

.product-top-box label span {
    color: var(--hover-color-2);
}

.product-des-input input {
    height: 34px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.product-des-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.all-suggestion-box {
    padding: 11px 7px;
    background: #F1F5FD;
    border-radius: 6px;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.all-suggestion-box h4 {
    font-size: 14px;
    color: #0e101a;
    font-weight: 500;
    padding: 0 5px;
}

.all-suggestion-box ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
}

.all-suggestion-box ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(117, 117, 117, 0.21);
    background-color: #ffffff;
}

.all-suggestion-box a span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    background: var(--hover-color-2);
}

.bg-blue {
    background: var(--blue-color) !important;
}

.bg-green {
    background: #19C29A !important;
}

.form-block {
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    height: 100%;
    justify-content: space-between;
}

.form-block .single-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-info-block label {
    font-size: 13px;
    color: #1b2022;
    font-weight: 400;
}

.single-info-block label span {
    color: var(--hover-color-2);
}

.single-info-block input,
.single-info-block select {
    max-width: 100px;
    width: 100%;
    font-size: 12px;
}

.single-info-block label .sub-lable {
    border-radius: 8px;
    background-color: #fdeaea;
    padding: 2px 4px;
    font-size: 11px;
    font-weight: 500;
}

.bigger-form-block .single-info-block input,
.bigger-form-block .single-info-block select {
    max-width: 150px;
    width: 100%;
    font-size: 12px;
}

.single-info-block textarea {
    resize: none;
    width: 150px;
    height: 40px;
}

.product-details-table {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.info-title p {
    font-size: 13px;
    color: #1b2022;
    white-space: nowrap;
}

.info-title span {
    padding: 4px 6px;
    border-radius: 16px;
    background-color: #fdeaea;
    font-size: 13px;
    color: #c74644;
    font-weight: 500;
}

input[readonly] {
    background: #EFF0F0;
    color: #575C5E;
}

.product-details-table table {
    border-collapse: separate;
    border-spacing: 8px;
}

.pr-info-table tr td:first-child {
    width: 128px;
}

.pr-info-table tr td:nth-child(9) {
    width: 92px;
}

/*======== right sidebar content start hare ======= */



.dashboard-main input[type="number"],
.dashboard-main input[type="text"],
.dashboard-main textarea {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 4px 10px;
  display: block;
  background: #fff;
  width: 100%;
  box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.04);
}


.dashboard-main input[type="datetime-local"],
.dashboard-main input[type="date"],
.dashboard-main input[type="time"],
.dashboard-main input[type="number"],
.dashboard-main input[type="email"],
.dashboard-main input[type="password"],
.dashboard-main input[type="checkbox"],
.dashboard-main input[type="radio"],
.dashboard-main textarea,
.dashboard-main select {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 4px 10px !important;
  display: block;
  background: #fff;
  width: 100%;
  box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.04);
}


.MAINTABLE_LABEL{
    font-size: 13px;
    color: #1b2022;
    font-weight: 400;
}






@media screen and (max-width: 1550px) {
  .pr-info-table tr td:nth-child(2),
  .pr-info-table tr td:nth-child(3) {
      width: 80px;
  }
  .pr-info-table tr td:nth-child(4),
  .pr-info-table tr td:nth-child(5) {
      width: 60px;
  }
  .pr-info-table tr td:nth-child(6) {
      width: 70px;
  }
  .content-top-nav ul {
      gap: 10px;
  }
  .main-content-wrapper .row .row>div {
      padding: 0 7px;
  }
  .main-content-wrapper .row .row {
      margin: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .content-top-nav {
      gap: 10px;
      overflow: hidden;
  }
  .content-top-nav ul a {
      white-space: nowrap;
  }
  .content-top-nav ul a::before {
      top: 91%;
  }
  .main-content-area {
      overflow: hidden;
  }
}

/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .content-top-nav {
      gap: 10px;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }
  .content-top-nav ul a {
      white-space: nowrap;
  }
  .content-top-nav ul a::before {
      top: 91%;
  }
  .main-content-area {
      overflow: hidden;
  }
  .product-details-table table {
      min-width: 800px;
  }
  .table-pr-docs td {
      white-space: nowrap;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* header responsive  */
  .admin-profile {
      margin-left: auto;
  }
  .content-top-nav {
      gap: 10px;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }
  .content-top-nav ul a {
      white-space: nowrap;
  }
  .content-top-nav ul a::before {
      top: 91%;
  }
  .main-content-area {
      overflow: hidden;
  }
  .product-details-table table {
      min-width: 800px;
  }
  .table-pr-docs td {
      white-space: nowrap;
  }
  .dashboard-main {
      flex-direction: column;
  }
  .left-slidebar {
      padding: 0 15px;
      max-width: 100%;
  }
  .left-slidebar ul {
      flex-direction: row;
      padding: 10px 0;
  }
  .right-sidebar {
      width: 100%;
      padding: 0 15px;
  }
  .main-content-wrapper {
      padding: 7px 15px;
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/

@media screen and (max-width: 767px) {
  .admin-profile {
      margin-left: auto;
  }
  .content-top-nav {
      gap: 10px;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }
  .content-top-nav ul a {
      white-space: nowrap;
  }
  .content-top-nav ul a::before {
      top: 91%;
  }
  .main-content-area {
      overflow: hidden;
  }
  .product-details-table table {
      min-width: 800px;
  }
  .table-pr-docs td {
      white-space: nowrap;
  }
  .dashboard-main {
      flex-direction: column;
  }
  .left-slidebar {
      padding: 0 15px;
      max-width: 100%;
      overflow-x: auto;
  }
  .left-slidebar ul {
      flex-direction: row;
      padding: 10px 0;
  }
  .right-sidebar {
      width: 100%;
      padding: 0 15px;
  }
  .main-content-wrapper {
      padding: 7px 15px;
  }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/

@media screen and (max-width: 576px) {

  .left-slidebar ul li a {
      white-space: nowrap;
  }
  .form-block.d-flex.align-items-center.flex-row.justify-content-between {
      flex-wrap: wrap;
      gap: 15px !important;
  }
  .form-block .left-content a {
      padding: 6px 10px;
  }
  .form-block .update-btn button {
      padding: 6px 15px;
      font-size: 12px;
  }
  .main-content-wrapper {
      padding: 7px 10px;
  }
  .main-content-wrapper .row .row>div {
      padding: 0;
  }
  .site-header {
      padding-right: 15px;
  }
}